<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-no-padding ion-text-center" style="font-size: 18px;">
      @capacitor-community/firebase-analytics
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-top">
  <div id="container">
    <ion-button expand="full" (click)="setUser()">Set User ID</ion-button>
    <ion-button expand="full" color="secondary" (click)="setProperty()">Set User Property</ion-button>
    <ion-button expand="full" color="tertiary" (click)="logEvent()">Log Event</ion-button>
    <ion-button expand="full" color="warning" routerLink="/second">Go to second page</ion-button>
    <ion-button expand="full" color="medium" (click)="toggleAnalytics()">Toggle Data collection</ion-button>
    Analytics enabled: {{ analyticsEnabled }}
  </div>
</ion-content>